<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kicp.hmfpda">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>`
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".decodeLib.DecodeSampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_32"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QueryActivity.GodownMQueryActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QueryActivity.OrderQueryActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QueryActivity.ReturnQueryActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ScanActivity.GodownMScanActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ScanActivity.OrderScanActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ScanActivity.ReturnScanActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>